/* OB: custom placeholders matching wireframes */

.placeholder-img {
    width: 100%;
    height: 250px;
    background: #bfbfbf;
    border: 2px solid #888;
}

.placeholder-img-small {
    width: 100%;
    height: 180px;
    background: #bfbfbf;
    border: 2px solid #888;
}

.placeholder-text {
    width: 80%;
    height: 12px;
    background: #d9d9d9;
    margin-bottom: 10px;
    border-radius: 5px;
}